.dashhead
  .dashhead-titles
    %h6.dashhead-subtitle Subreddits
    %h2.dashhead-title Top 500

.table
  %table.table{data: { sort: 'table' }}
    %thead
      %tr
        %th.header /r/
        %th.header Active Users
        %th.header Subscribers
        %th.header Activity Ratio
        %th.header Delta (hour)
        %th.header Details
    %tbody
      - @topics.each do |topic|
        %tr
          %td= link_to topic.name, topic.subreddit_url
          %td= number_with_delimiter topic.active_user_count
          %td= number_with_delimiter topic.subscribers
          %td= percentage topic.activity_ratio
          %td{class: positive_negative_color_class(topic.delta_hour)}
            - if topic.delta_hour.present?
              = percentage topic.delta_hour, precision: 0
          %td= link_to "View", topic_path(topic.name)
